
.filelist {
    margin: 30px 0;

    &__header {
        display: grid;
        grid-template-columns: 1fr 4fr repeat(4, 1fr);
        font-weight: 700;
    }
    &__name {
        grid-column-start: 2;

    }
    &__date {
        grid-column-start: 5;

    }
    &__size {
        grid-columnt-start: 6;

    }
}

.fileplate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px 0;
}

.file-enter-active {
    animation: file-enter 500ms forwards;
}
@keyframes file-enter {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 900px) {
    .filelist {
        &__header {
            grid-template-columns: 50px 2fr repeat(4, 1fr);
        }

    }        
}

@media(max-width: 550px) {
    .filelist {
        margin: 20px 0;
        &__header {
            grid-template-columns: 30px minmax(100px, 1fr) 1fr 1fr;
        }
        &__date, &__size {
            display: none;
        }
    }
    .fileplate {
        display: grid;
        grid-template-columns: minmax(130px, 1fr) minmax(130px, 1fr);
    }
}